*.class
*.log

.cache
.env
.envrc
.history
.sdkmanrc
.lib/
dist/*
target/
lib_managed/
local.conf
src_managed/
project/boot/
project/plugins/project/

.idea*

# Metals
.metals/
.bsp/
.bloop/
metals.sbt
.vscode

# Hugo
Thumbs.db
.DS_Store
.dist
.tmp
.sass-cache
npm-debug.log
node_modules
builds
package-lock.json
public
.hugo_build.lock
jsconfig.json
hugo_stats.json
go.sum
resources/_gen
