<div data-tags="{{ delimit .article.tags ", " }}">
  <a href="{{ .article.url }}" target="_blank">
    <img class="mb-5 aspect-video object-cover" src="{{ .article.coverImage }}" />
  </a>
  <h6 class="text-sm font-semibold text-[#072671]">{{ time.Format "2 Jan 2006" .article.when }}</h6>
  <a class="flex justify-between items-center my-2" href="{{ .article.url }}" target="_blank" >
    <h4 class="text-2xl font-semibold text-[#101828]">{{ .article.title }}</h4>
    <i class="text-2xl text-[#101828] fa-solid fa-arrow-right"></i>
  </a>
  <p class="text-base text-[#475467] mb-6">{{ .article.description }}</p>
  <div class="flex flex-wrap items-center">
    {{ range .article.tags }}
      {{ partial "badge.html" (dict "Type" .) }}
    {{ end }}
  </div>
</div>
