<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>{{ .Params.title }} | {{ .Site.Title }}</title>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
<link rel="preconnect" href="https://use.fontawesome.com" crossorigin>
<link rel="dns-prefetch" href="https://use.fontawesome.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

{{ $description := .Summary | default .Site.Params.description }}
{{ $image := .Params.coverImage | default "/images/cover.jpg" | absURL }}
{{ $parsedURL := urls.Parse .Site.BaseURL }}
{{ $domain := $parsedURL.Host }}

<!-- Facebook Meta Tags -->
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ .Params.title }} | {{ .Site.Title }}" />
<meta property="og:description" content="{{ $description }}" />
<meta property="og:image" content="{{ $image }}" />

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content="{{ $domain }}" />
<meta property="twitter:url" content="{{ .Permalink }}" />
<meta name="twitter:title" content="{{ .Params.title }} | {{ .Site.Title }}" />
<meta name="twitter:description" content="{{ $description }}" />
<meta name="twitter:image" content="{{ $image }}" />

{{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
<link rel="stylesheet" href="/dist/output.css">

<script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
<noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>

{{ if .Site.Params.google_fonts }}
  {{ $fonts := slice }}
  {{ range .Site.Params.google_fonts }}
    {{ $family := replace (index (.)  0) " " "+" }}
    {{ $weights := replace (index (.) 1) " " "" }}
    {{ $string := print $family ":" $weights }}
    {{ $fonts = $fonts | append $string }}
  {{ end }}
  {{ $url_part := (delimit $fonts "|") | safeHTMLAttr }}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
{{ else}}
  <!-- specify a default in case custom config not present -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
{{ end }}
