<div data-tags="{{ delimit .video.tags ", " }}">
    {{ if ne .video.youtube nil }}
      {{ partial "youtube-lite.html" (dict "Id" .video.youtube) }}
    {{ else }}
       <a href="{{.video.url}}" target="_blank">
           <img src="/images/placeholder-video.jpg" alt="{{.video.title}}" class="aspect-video object-cover rounded-xl" />
       </a>
    {{ end }}

    <h6 class="text-sm font-semibold text-[#072671]">{{time.Format "2 Jan 2006" .video.when}}</h6>
    <a class="flex justify-between items-center my-2" href="{{.video.url}}" target="_blank">
        <h4 class="text-2xl font-semibold text-[#101828]">{{.video.title}}</h4>
    </a>
    <div class="flex flex-wrap items-center">
        {{ range .video.tags }}
          {{ partial "badge.html" (dict "Type" .) }}
        {{ end }}
    </div>
</div>
