{{ $videoid:= .Id }}
{{ $class:= .Class }}
{{ $style:= .Style }}
{{ $width:= .Width }}
{{ $height:= .Height }}
{{ $attr:= .Attr }}

<div
  {{ with $class }}class="{{ . }}"{{ end }}
  style="margin-bottom: 8px; {{ with $width }} width:{{ .| safeCSS }};
  {{ end }}{{ with $height }} height:{{ .| safeCSS }};
  {{ end }}{{ with $style }}{{ .| safeCSS }}{{ end }}">
    <iframe src="https://www.youtube.com/embed/{{$videoid}}"
          style="width: 100%; height: 100%; border-radius: 12px;"></iframe>
</div>
