{{ define "main" }}

{{ $articles := partial "all-articles.html" . }}

{{ $uniqueTags := slice }}
{{ range $articles }}
  {{ $articleTags := .tags }}
  {{ $uniqueTags = union $uniqueTags $articleTags }}
{{ end }}
{{ $uniqueTags := sort $uniqueTags }}
{{ $uniqueTags := union (slice "all") $uniqueTags }}

{{ $firstArticle := index $articles 0 }}
{{ $allArticles := $articles }}
{{ $articles := after 1 $articles }}

{{ $featuredIds := slice
    "16deae6e-d2f6-4eec-91a2-49b788e05675"
    "1cb2a763-a92e-4712-a00f-b57e56e6ac01"
    "a75d25ce-c7cc-4922-9ed1-cf081ae1867b"
    "2bc11893-e7b4-40fe-909d-121675a2112f"
    "a286d9a3-091f-46b1-b859-810f776dc799"
    "09b88fec-ad0d-4dc2-885e-2ddee1a96746"
    "80d7176e-332c-4d3a-85df-d63d9d9a8d6a"
    "5b592a25-600a-43b8-9ae4-41924c9260de"
    "6d412f71-e472-4753-91cf-64a10960bdc8" }}

<section>
  <div class="container mx-auto py-16">
    <h6 class="text-lg font-semibold text-[#0A39AA] mb-3">{{ .Title }}</h6>
    <h1 class="text-4xl md:text-5xl font-bold text-[#101828] mb-6">Featured</h1>
  </div>

  <div class="bg-[#F9FAFB] py-24">
    <div class="container grid grid-cols-1 md:grid-cols-3 gap-12 md:gap-8 mx-auto">
      {{ range $allArticles }}
        {{ if in $featuredIds .id }}
          {{ partial "article-item.html" (dict "article" .) }}
        {{ end }}
      {{ end }}
    </div>
  </div>

  <div class="container mx-auto py-16">
    <h1 class="text-4xl md:text-5xl font-bold text-[#101828] mb-6">All articles</h1>
  </div>

  <div class="tab" data-tab-group="tab-group-name">
    <div class="container mx-auto">
      <ul class="hidden md:flex tab-nav flex-wrap" data-tab-nav>
        {{ range $index, $element := $uniqueTags }}
        <li class="tab-nav-item text-base font-semibold" data-tab="{{add 0 $index}}" tabindex="0">
          {{ $element }}
        </li>
        {{ end }}
      </ul>
      <div class="tab-content hidden" data-tab-content>
        {{ range $index, $element := $uniqueTags }}
        <div class="tab-content-panel" data-tab-panel="{{$index}}" data-tab-tag="{{$element}}">
          {{ $element }}
        </div>
        {{ end }}
      </div>
      <select class="block md:hidden tab-nav w-full rounded-md border-0 px-3 py-2 text-[#344054] shadow-sm ring-1 ring-inset ring-[#D0D5DD] placeholder:text-[#667085] focus:ring-2 focus:ring-inset focus:ring-[#475467] focus-visible:outline-none" data-tab-nav>
        {{ range $index, $element := $uniqueTags }}
        <option class="tab-nav-item text-base font-semibold" data-tab="{{add 0 $index}}" tabindex="0">
          {{ $element }}
        </option>
        {{ end }}
      </select>
    </div>
    <div class="">
      <div class="content-top mt-16 mb-12">
        <div class="container main-article grid grid-cols-1 lg:grid-cols-2 gap-12 md:gap-8 mx-auto" data-tags="{{ delimit $firstArticle.tags ", " }}">
          {{ with $firstArticle }}
          <div>
            <a href="{{.url}}" target="_blank">
              <img class="mb-5 aspect-video object-cover" src="{{ .coverImage }}" loading="lazy" />
            </a>
          </div>
          <div>
            <h6 class="text-sm font-semibold text-[#072671]">{{ time.Format "2 Jan 2006" .when }}</h6>
            <a class="flex justify-between items-center my-2" href="{{.url}}" target="_blank">
              <h4 class="text-2xl font-semibold text-[#101828]">{{.title}}</h4>
              <i class="text-2xl text-[#101828] fa-solid fa-arrow-right"></i>
            </a>
            <p class="text-base text-[#475467] mb-4">{{.description}}</p>
            <div class="flex flex-wrap items-center">
            {{ range .tags }}
              {{ partial "badge.html" (dict "Type" .) }}
            {{ end }}
            </div>
          </div>
          {{ end }}
        </div>
      </div>
      <div class="content-main">
        <div class="container grid grid-cols-1 md:grid-cols-3 gap-12 md:gap-8 mb-24 mx-auto">
          {{ range $articles }}
            {{ partial "article-item.html" (dict "article" .) }}
          {{ end }}
        </div>
        <div class="container mx-auto pt-16 pb-24">
          {{ partial "contact.html" }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
